{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Create Question{% endblock %}
 {% block sidebar %}
  <div class="sidebar col-md-4">
     sidebar
  </div>
  {% endblock %}
  {% block main %}
  <div class="main col-md-8">
      <h1>{{ quiz.title }}</h1>

      <form action="/quiz/{{ quiz.id }}/question/add" method="POST">
      {{ form.csrf_token }}
          <div class="form-group">
            <label for="question">Question</label>
                {{ form.text(class_="form-control") }}
          </div>
          {{ form.qtype() }}
          {{ form.qtn_mark() }}
          {% for l in form.option %}
          <div class="form-group  form-inline">
              
                  {{ l.form.csrf_token }}
                    {{ l.form.answer }} {{ l.form.text(class_="form-control") }} <span class="btn btn-danger">delete</span><span class="btn btn-success">Add</span>
                
          </div>
          {% endfor %}
          <div class="form-group">
              {{ form.submit() }}
          </div>
      </form>     
  </div>
  {% endblock %}