{% extends "base.html" %}
{% block title %}Statistics{% endblock %}
    {% block main %}
        <div class="col-sm-12">
            <div class="well" style="background-color:#009cdc; color:#ffffff">
                <div class="container-fluid">
                    <div class="col-sm-6">
                        <h4 style="font-size:60px">All Quizes</h4>
                    </div>
                    
                </div>
            </div>
            <div class="row">
                {% if quiz %}
                    {% for temp in quiz %}
                    <a href="live/{{ temp.id }}">
                        <div class="col-sm-3"  data-toggle="modal" data-target="#{{ temp.quid }}" style="cursor:pointer">
                            <div class="well" style="background-color: #333333; color: #ffffff;">
                                <h4>{{temp.title}}</h4>
                                <p style="position:absolute; bottom:10%; right: 7%;">{{ temp.created }}</p>
                            </div>
                        </div>
                    </a>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    {% endblock %}