<html>
<head>
{% block head %}
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="../static/css/statistic.css" />
<title>{% block title %}{% endblock %} - My Application</title>
{% endblock %}
</head>
<body>
  <div class="container">
{% block body %}
    <div class="header">
     {% block header %}
                <nav>
                    <ul class="nav nav-pills pull-right">
                        <li role="presentation" class="active"><a href="/home">Home</a>
                        </li>
                        <li role="presentation"><a href="/auth/signin">Sign in</a>
                        </li>
                        <li role="quiz"><a href="{{ url_for('quiz', name='jojo') }}"><button>Home</button></a>
                        </li>
                        <li role="quiz"><a href="/stat/statistic"><button>Dashboard</button></a>
                        </li>
                    </ul>
                </nav>
                <h3 class="text-muted">MCQ Management System APP</h3>
     {% endblock %}
     </div>
     <div class="main-content">
         {% block sidebar %}
         {% endblock %}
         {% block main %}
         {% endblock %}
     </div>
{% endblock %}
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>